body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

.description {
  margin: 20px;
  padding: 20px;
  background: #fff;

  h1 {
    margin: 0;
  }
}

.ranking {
  margin: 20px;
  padding: 20px;
  background: #fff;

  .ranking-label {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .ranking-tab {
    display: flex;
    margin-top: 10px;

    .ranking-tab-item {
      font-size: 0.8rem;
      color: #999;
      cursor: pointer;

      &.is-active {
        font-weight: 700;
        color: #333;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  .ranking-loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    margin: 20px auto 8px auto;
    width: 52px;
    height: 52px;

    &.is-active {
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .ranking-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    &:not(:last-child) {
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid #e8e8e8;
    }

    .ranking-user-left {
      display: flex;
      align-items: center;
    }

    .ranking-user-rank {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 10px;
      width: 32px;
      font-size: 1.6rem;
      color: #999;

      &.is-gold {
        color: #ffc400;
      }

      &.is-silver {
        color: #c9c9c9;
      }

      &.is-bronze {
        color: #ac6d4d;
      }
    }

    .ranking-user-image {
      display: flex;
      margin-right: 5px;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
    }

    .ranking-user-name {
      font-size: 1rem;

      & ~ .ranking-user-screen_name {
        font-size: .8rem;
        color: #999;
      }
    }

    .ranking-user-screen_name {
      font-size: 1rem;
    }

    .ranking-user-contribution {
      color: #999;
      font-size: .8rem;

      .ranking-user-contribution-count {
        color: #333;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  .ranking-more_button {
    display: inline-block;
    width: calc(100% - 16px*2);
    padding: 8px 16px;
    margin: 16px;
    color: #777;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
  }
}